<!DOCTYPE html>
<html lang="en">
{% include header.html %}
  <body>
    <body class="demo-1">
       <div id="home" class="wrapper  container">
          <div class="logo">
            <a href="{{site.url}}"><img width="100px;" src="/img/paperstrip_logo.png"></a>
         </div>
           <div class='hamburguer'>
             <span></span>
             <span></span>
             <span></span>

           </div>
         <nav>
           <ul>
             <li><a href="{{site.url}}">HOME</a></li>
             <li><a href="#about">ABOUT</a></li>
             <li><a href="#project">PROJECT</a></li>
             <li>PAPERSTRIP EXPERIENCE</li>

           </ul>
         </nav>
       </div>
    {{ content }}

  </body>

  <script type="text/javascript" src="/js/main.js">

  </script>
</html>
